body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

button {
    color: white;
    background-color: #3883F6;

}
.Header{
    background: #1f2937;
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.container-1-blue{
    background: #1f2937;
    height: 72px;
    color:#f9faf8;  
}

.WebName{
    font-weight: 900px;
}

.container-2-white{
    background: #f9faf8;
}

.container-3-gray{
    background: #E5E7EB
}

.container-4-footer{
    background: #3883F6;
}

/**/

.Header{
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 100px;
    padding-bottom: 40px;
}

.header-links ul{
    display: flex;
    gap: 20px;
}

.header-links a{
    font-size: 10px;
}

.HeaderLogo{
    font-size: 10px;
    font-weight: bold;
}


.container-1-blue{
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
    padding-left: 140px;
    
}

.web_section{
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.firstpic img{
   width: 350px;
   height: 160px;
   padding-right:80px;
}


.WebName{
    font-weight: bold;
    font-size: 30px;
}

.container-2-white{
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

.ImageBox{
    display: flex;
    flex-direction: column;
    align-items: center; /* center img + text horizontally*/
    text-align: center; /* centers text itself*/
    width: 150px; /* keeps all poxes equal*/
}

.ImageBox img{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    border: 2px solid #3883F6;

}


.title_white{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 25px;
}



.container-3-gray{
    background-color: #E5E7EB;
    padding: 20px 0;
    display: flex;
    justify-content: center;
   
}

.quote-box{
    max-width: 800px;
}

.Quote{
    font-size: 25px;
    color:#1f2937;
    font-weight: 200;
    font-style: italic;
}

.Author{
    font-weight: bold;
    text-align: right;
    padding-right: 150px;
    background-color: #E5E7EB;
    padding-bottom: 70px;    
}





.container-4-footer{
    padding: 32px;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
}

.call_to_action{
    font-weight: bold;
}

.button_one{
    border-radius: 5px;
    width: 90px;
    border: #f9faf8;
    height: 20px;

}
.button_two{
    border-radius: 5px;
    width: 90px;
    border-color: #f9faf8;
}

.white-footer-box{
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    background-color: white;
    height: 200px;
}

.container-4-footer{
   display: flex;
   width: 600px;

}

body{
    background-color: white;
    width: 900px;
    margin: 0 auto; 
    
    
}