body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

button {
    color: white;
    background-color: #3883F6;

}
.Header{
    background: #1f2937;
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.container-1-blue{
    background: #1f2937;
    height: 72px;
    color:#f9faf8;  
}

.WebName{
    font-weight: 900px;
}

.container-2-white{
    background: #f9faf8;
}

.container-3-gray{
    background: #E5E7EB
}

.container-4-footer{
    background: #3883F6;
}

/**/

.Header{
    display: flex;
    padding: 32px;
    justify-content: space-between;
}

.header-links{
    display:flex;
    gap: 100px;
}

.container-1-blue{
    padding: 32px;
    display: flex;
    justify-content: space-between;

}

.container-2-white{
    padding: 32px;
    display: flex;
    justify-content: center;
}

.container-3-gray{
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

.container-4-footer{
    padding: 32px;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
}

.call_to_action{
    font-weight: bold;
}

.button_one{
    border-radius: 5px;
    width: 90px;
    border: #f9faf8;
    height: 20px;

}
.button_two{
    border-radius: 5px;
    width: 90px;
    border-color: #f9faf8;
}
